ORA_PRIVATE_KEY="<your_private_key>"

# Apple Developer credentials
APPLE_ID="<your_apple_id_address>"
TEAM_ID="<your_team_id>"                                             # eg. 2STEST4IHD   
DEVELOPMENT_TEAM="<your_development_team>"                           # eg. 2STEST4IHD
APP_SPECIFIC_PASSWORD_KEYCHAIN="<app_specific_password_keychain>" 
SIGNING_IDENTITY="<your_signing_identity>"                          # eg. Developer ID Application: The Ora (2STEST4IHD)
DEVELOPER_ID_PROFILE="<your_developer_id_profile>"
