--swiftversion 5.9
--indent 4
--maxwidth 120
--allman false
--semicolons never
--stripunusedargs closure-only
--wraparguments before-first
--wrapcollections before-first
--commas inline
--closingparen balanced
--self remove
--header ignore
--insertlines disabled
--trimwhitespace always
--ranges spaced
--hexgrouping none
--enable indent
--enable trailingClosures
--disable redundantSelf
--disable sortedImports
--disable consecutiveSpaces
--disable redundantReturn
--exclude Pods
--exclude Carthage
--exclude .build